/********************************************************************
*  GENERAL ELEMENTS
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 10pt;
}

a img {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

a:hover {
    background-color: #ffb;
}

/********************************************************************
*  TOP - LINKS AND SEARCH
*/

#links {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

input {
    margin-top: 22px;
    vertical-align: top;
}

form {
    margin-bottom: 0px;
}

form a:hover {
    background-color: white;
}

#hoogle {
    width: 300px;
    margin-right: 5px;
    margin-left: 5px;
}

#submit {
    padding-left: 15px;
    padding-right: 15px;
}


/********************************************************************
*  BOTTOM - COPYRIGHT MESSAGE
*/

#footer {
    text-align: center;
}


/********************************************************************
*  HEADING
*/

h1 {
    font-size: 10pt;
    padding: 5px;
    margin-top: 0px;
    font-weight: normal;
    /* background for the heading must be gray,
       to make type searching visisble */
    background-color: #e4e4e4;
    border-top: 1px solid #999;
}

p, table {
    padding-left: 20px;
    padding-right: 20px;
}


/********************************************************************
*  SPECIAL PAGES
*/

#error {
    font-family: monospace;
}
#error u {
    border-bottom: 2px dotted red;
    text-decoration: none;
}

#example {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 3px;
    width: 300px;
    border: 2px solid #cc0;
    background-color: #ffc;
    font-size: 10pt;
    text-align: left;
}

#example a {
    margin-left: 20px;
}


/********************************************************************
*  RESULTS
*/

td {
    padding-bottom: 0px;
    padding-top: 0px;
}

a.dull, a.dull:hover {
    background-color: white;
    text-decoration: none;
}

/** ANSWERS **/

.ans .a {
    color: blue;
}

.ans a.dull {
    color: black;
}

.c0{background-color: #fcc;}
.c1{background-color: #cfc;}
.c2{background-color: #ccf;}
.c3{background-color: #ffc;}
.c4{background-color: #fcf;}
.c5{background-color: #cff;}

.more, .more:visited {
    padding-left: 16px;
    background-image: url(more_blue.png);
    background-repeat: no-repeat;
    background-position: center left;
    color: blue;
}

/** MODULES **/

.mod {
    vertical-align: bottom;
    text-align: right;
    font-size: 8pt;
}
.mod, .mod a {
    color: #080;
    text-decoration: none;
    background-color: white;
}

/** PACKAGES **/

.pkg {
    text-align: right;
    vertical-align: top;
    font-size: 8pt;
    padding-bottom: 10px;
}
.pkg, .pkg a {
    color: #888;
    text-decoration: none;
    background-color: white;
}

/** DOCS **/

.doc {
    vertical-align: top;
    font-size: 8pt;
    padding-bottom: 10px;
}
.doc, .doc a {
    color: #888;
}

.docs {
    margin: 2px;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
}

.shut .docs {background-image: url(more_gray.png);}
.open .docs {background-image: url(less_gray.png);}

.shut {
    max-height: 1.5em;
    overflow: hidden;
    color: #888;
}
.shut br {display: none;}
